@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent-100: #FE2B02;
  --secondary: #FFEB3B;
  --secondary-60: #D4C431;
  --accent-50: #FE4E2C;
  --primary: #FFCDD2;
  --text-dark: #222222;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

::-webkit-scrollbar {
  display: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}
.first-half {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.text-stroke {
  color: var(--accent-100);
  -webkit-text-fill-color: var(--primary);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--accent-100);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
